! Tomorrow Night colorscheme
*background: #1d1f21
*foreground: #c5c8c6
*color0: #1d1f21
*color8: #969896
*color1: #cc6666
*color9: #ff6c60
*color2: #b5bd68
*color10: #f0c674
*color3: #f0c674
*color11: #b5bd68
*color4: #81a2be
*color12: #81a2be
*color5: #b294bb
*color13: #de935f
*color6: #8abeb7
*color14: #8abeb7
*color7: #c5c8c6
*color15: #ffffff

*.font:Mononoki Nerd Font:size=13

! Tomorrow Night colorscheme
*.background: #181818
*.foreground: #c5c8c6
*.color0: #1d1f21
*.color8: #969896
*.color1: #cc6666
*.color9: #ff6c60
*.color2: #b5bd68
*.color10: #f0c674
*.color3: #f0c674
*.color11: #b5bd68
*.color4: #81a2be
*.color12: #81a2be
*.color5: #b294bb
*.color13: #de935f
*.color6: #8abeb7
*.color14: #8abeb7
*.color7: #c5c8c6
*.color15: #ffffff
